<?xml version="1.0" ?>

<launch>

  <arg name="tf_prefix" default="" doc="TF prefix to use for all of Mobipick's TF frames"/>

  <param name="robot_description" command="$(find xacro)/xacro  $(find henrybot_description)/urdf/henry.urdf.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find henrybot_description)/rviz/mir_description.rviz" required="true" />
</launch>
